@page
@model WeCareWebApp.Pages.BusinessClientPages.DetailsModel

<div>
    <h4>BusinessClient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClient.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessClient.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessClient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClient.CreatedOnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessClient.CreatedOnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BusinessClient.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
